{% block footer %}

<footer>
    <div id = "white"></div>
    <!-- 하단바 -->
    <div class="center bottom frame" id="n27_85">
        <!-- Group 3 -->
        <div class="group" id="n37_43">
            <!-- KAsimov -->
            <div class="group" id="n27_93">
                <!-- 스크린샷 2021-12-29 오전 6.50 1 -->
                <div class="center top rectangle" id="n27_94"></div>
                <!-- KAsimov -->
                <div class="center top text" id="n27_95">KAsimov</div>
            </div>
            <!-- Pri dolor volumus id, vel hendrerit reprimique adversarium et. Elit conclusionemque eu eum. Duis constituam interesset in his, intellegam definitionem ei ius, aeque doctus has te. Nusquam consequat comprehensam quo et, vis mutat eleifend comprehensam no. Aliquip iracundia dissentiet eum an. -->
            <div class="center top text" id="n37_42">Pri dolor volumus id, vel hendrerit reprimique adversarium et. Elit conclusionemque eu eum. Duis constituam interesset in his, intellegam definitionem ei ius, aeque doctus has te. Nusquam consequat comprehensam quo et, vis mutat eleifend comprehensam no. Aliquip iracundia dissentiet eum an.</div>
        </div>
        <!-- 카시모프 위키 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 -->
        <div class="center top text" id="n37_44">카시모프 위키 &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;뭐를 넣어야 하지 &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;뭐를 넣어야 하지 &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;뭐를 넣어야 하지 &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;뭐를 넣어야 하지 &nbsp;&nbsp;&nbsp;</div>
    </div>
</footer>

<style>
        #white {
            position: relative;
            width: 100%;
            height: 200px;
        }
		/* 하단바 */
		#n27_85 {
            position: relative;
			width: 100%;
			height: 381px;
			overflow: hidden;
            background: linear-gradient(142deg, #670F0F 0%, #0A0000 100%);
		}
 
            #n37_43{
                position: relative;
                width: 100%;
			    height: 381px;
            }
                #n27_93{
                    position: relative;
                    width: 100%;
			        height: 381px;
                }

					/* 스크린샷 2021-12-29 오전 6.50 1 */
					#n27_94 {
                        position: absolute;
						background-image: url("https://s3-alpha-sig.figma.com/img/503a/3921/f82637ef25015a01fa188a5490a8a50e?Expires=1690761600&Signature=ezCy9CwkIzl-9SrYM4qdCBxpj1fiUcGGhvC~ufRPwu8ok9gcySawbhNyaLZY6PVXSHe1eNHzZJio9tqmf6QPn5sglD2DPrXPH84n9LkDR0IYPvcIwxyXrybmw4DA5NC5uOQx33QHnxcurZr8OZsgar21pirXWLMJEDfAQU0EZMEkMNVZQ5afWb42Jh93G66hKYTGGgbfcWSBrRb8bMhCDO1s2GNzAaq~z5HzGGQ5n9Z8EoM~bKNPhO4t9IOnxQaX-I-su~7B38RTrhqKcfWqmoKH8jx7-mhKaDsGM3e2UMz0ctl6eXsQvXj2PWflTCY9x--NseuAnjSYBsqVe--PIw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						left: calc(50% - 23px + -504px);
						width: 46px;
						bottom: 99px;
						height: 46px;
					}
 
					/* KAsimov */
					#n27_95 {
                        position: absolute;
						font-family: Roboto;
						font-size: 30px;
						font-weight: 600;
						letter-spacing: 0px;
						color: rgb(255, 255, 255);
						vertical-align: middle;
						justify-content: flex-start;
						width: 156px;
						align-items: center;
						line-height: 35.1562px;
						height: 40px;
						left: calc(50% - 78px + -388px);
						bottom: 102px;
					}
 
				/* Pri dolor volumus id, vel hendrerit reprimique adversarium et. Elit conclusionemque eu eum. Duis constituam interesset in his, intellegam definitionem ei ius, aeque doctus has te. Nusquam consequat comprehensam quo et, vis mutat eleifend comprehensam no. Aliquip iracundia dissentiet eum an. */
				#n37_42 {
                    position: absolute;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0px;
					color: rgb(255, 255, 255);
					vertical-align: middle;
					text-align: center;
					justify-content: center;
					width: 740px;
					transform: translate(0px, 0px);
					line-height: 16.4062px;
					height: 59px;
					left: calc(50% - 370px + 157px);
					bottom: 93px;
				}
 
			/* 카시모프 위키 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 | 뭐를 넣어야 하지 */
			#n37_44 {
                position: absolute;
				font-family: Roboto;
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 0px;
				color: rgb(255, 255, 255);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 1170px;
				transform: translate(0px, 0px);
				line-height: 23.4375px;
				height: 23px;
				left: calc(50% - 585px + 0px);
				bottom : 243px;
			}
 
</style>
{% endblock footer %}